<% if !@carts.empty? %>
<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
        <h2 class="mt-5 mb-3">ショッピングカート</h2>
        <% sum = 0 %>
        <% @carts.each do |cart| %>
            <div class="card mb-3" style="max-width: 540px">
                <div class="row no-gutters">
                    <div class="col-md-3 my-auto">
                        <%= link_to (image_tag cart.item.image.url, class: "card-img" if cart.item.image?), item_path(cart.item) %>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"><%= cart.item.name %></h5>
                            <p><%= link_to "削除", cart_path(cart), method: :delete %></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <p>¥ <%= cart.item.price.to_s(:delimited) %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% sum = sum + cart.item.price %>
        <% end %>
        <h2>合計金額 : ¥ <%= sum.to_s(:delimited) %></h2>
        </div>
        <div class="col-md-3 my-auto mx-auto">
            <%= form_with(url: new_order_path, method: :get, local: true) do |form| %>
                <div class="actions">
                    <%= form.submit value: "注文する", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
        <div class="ml-3 mt-2">
            <%= render 'shared/to_home' %>
        </div>
    </div>
</div>
<% else %>
<div class="container">
    <div class="row">
        <span class="mx-auto mt-5" style="font-size: 3rem">まだカートは空です<span>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <%= render 'shared/to_home' %>
        </div>
    </div>
</div>
<% end %>


