<%= form_with(model: item, local: true) do |form| %>
  <%= render 'shared/errors' %>

  <div class="field">
    <%= form.label :name, "商品名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price, "価格(円）" %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :image, "商品画像" %>
    <%= form.file_field :image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
