<%= render 'shared/admin_nav' %>
<%= render 'shared/success' %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mx-auto mr-0">
          <%= form_with(url: new_item_path, method: :get, local: true, class: "form-inline mt-4 mb-4") do |form| %>
            <%= form.submit value: "商品を追加", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-right mx-auto">
          <%= form_with(url: items_path, method: :get, local: true, class: "form-inline mt-4 mb-4") do |form| %>
            <%= form.text_field :search, value: @search_word, class: "form-control", placeholder: "商品名を入力" %>
            <%= form.submit value: "商品名で検索", class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
          <h2 class="mt-1 mb-3">商品一覧</h2>
          <%= render "shared/sort_items", url: items_path, search_word: @search_word %>
          <% @items.each do |item| %>
              <div class="card mb-3" style="max-width: 100px, width: 100%">
                  <div class="row no-gutters">
                      <div class="col-md-3 my-auto">
                          <%= link_to (image_tag item.image.url, class: "card-img-left" if item.image?), item_path(item) %>
                      </div>
                      <div class="col-md-6">
                          <div class="card-body">
                              <h5 class="card-title"><%= item.name %></h5>
                              <p>価格 : ¥<%= item.price.to_s(:delimited) %></p>
                              <p>最終更新日 : <%= item.updated_at.to_s(:datetime_jp) %></p>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-body">
                            <p><%= link_to '削除', item, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></p>
                            <p><%= link_to '編集', edit_item_path(item) %></p>
                          </div>
                      </div>
                  </div>
              </div>
          <% end %>
        </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @items %>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 float-left">
        <%= render 'shared/to_admins' %>
      </div>
    </div>
</div>

