<div class="container">
    <div class="row ml-5 mt-5">
        <div class="col-md-6 mx-auto">
            <%= image_tag @item.image.url, class: "item-show-img mt-5" if @item.image? %>
            <div class="mt-5">
                <%= render 'shared/to_home' %>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <p class="mx-auto mt-5" style="font-size: 4rem;"><%= @item.name %></p>
            <p class="mx-auto mt-5" style="color: red; font-size: 1.5rem;">
                <span style="color: gray;">価格 : </span>
                ¥<%= @item.price.to_s(:delimited) %>
            </p>
            <%= form_with(url: carts_path, local: true) do |form| %>
                <div class="field">
                    <%= form.hidden_field :item_id, value: @item.id %>
                </div>
                <div class="actions mt-5">
                    <%= form.submit value: "カートに追加", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
