<h1>注文確認ページ</h1>
<h3>注文総数 : <%= @order_count %> </h3>
<table>
    <thead>
    <tr>
        <th>注文日時</th>
        <th></th>
        <th>注文内容</th>
        <th>注文ステータス</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    <% if order.items.empty? %>
        <% next %>
    <% end %>
    <tr>
        <td><%= order.created_at.to_s(:datetime_jp) %></td>
        <td><%= link_to (image_tag (order.items.first.image.url) if order.items.first.image?), orders_admin_show_path(order_id: order.id) %></td>
        <td><%= order.items.first.name %>などのご注文</td>
        <td>
            <% case order.status %>
                <% when 0 %>
                    入金待ち
                <% when 1 %>
                    発送待ち
                <% when 2 %>
                    発送完了
            <% end %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @orders %>

