<h1>注文詳細ページ</h1>
<h2>注文処理状況 : 
<% case @order.status %>
<% when 0 %>
入金待ち
<% when 1 %>
発送待ち
<% when 2 %>
発送完了
<% end %>
<br>
<br>
<%= form_with(url: orders_admin_update_path(order_id: @order.id), method: :patch, local: true) do |form| %>
    <% case @order.status %>
        <% when 0 %>
            <%= form.select :status, [ ["発送待ち",1], ["発送完了", 2] ], prompt: "注文ステータスを選択してください" %>
            <div class="actions">
                <%= form.submit value: "変更する" %>
            </div>
        <% when 1 %>
            <%= form.select :status, [ ["発送完了", 2] ], prompt: "注文ステータスを選択してください" %>
            <div class="actions">
                <%= form.submit value: "変更する" %>
            </div>
        <% when 2 %>
            <p>ステータスは変更できません。</p>
            <p>管理者にご連絡ください。</p>
    <% end %>
<% end %>
<h4>注文点数 : <%= @order.items.count %>点</h4>
<br>
</h2>
    <table>
        <thead>
        <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>価格</th>
        </tr>
    </thead>

    <tbody>
        <% sum = 0 %>
        <% @order.items.each do |item| %>
            <tr>
                <td><%= link_to (image_tag (item.image.url) if item.image?), item_path(item) %></td>
                <td><%= item.name %></td>
                <td><%= item.price.to_s(:delimited) %>円</td>
            </tr>
            <% sum = sum + item.price %>
        <% end %>
    </tbody>
    </table>
<h2>合計金額 : <%= sum.to_s(:delimited) %>円</h2>
<h2>注文者情報</h2>
<h3>ユーザー名 : <%= @order.user.name %></h3>
<h3>メールアドレス : <%= @order.user.email %></h3>

