<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="mt-5 mb-2">注文確認ページ</h2>
            <p>ご注文者氏名 : <%= @carts.first.user.name %></p>
            <p>メールアドレス : <%= @carts.first.user.email %></p>
            <% sum = 0 %>
            <% @carts.each do |cart| %>
                <div class="card mb-3" style="max-width: 540px">
                    <div class="row no-gutters">
                        <div class="col-md-3 my-auto">
                            <%= link_to (image_tag cart.item.image.url, class: "card-img" if cart.item.image?), item_path(cart.item) %>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><%= cart.item.name %></h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <p>¥ <%= cart.item.price.to_s(:delimited) %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% sum = sum + cart.item.price %>
            <% end %>
            <%= render 'shared/to_cart' %>
        </div>
        <div class="col-md-5 my-auto mx-auto">
            <p class="text-center" style="font-size: 1.5rem; color: red;">ご請求金額 : ¥<%= sum.to_s(:delimited) %></p>
            <p class="text-center">本当に購入しますか？</p> 
            <div class="container text-center">
                <div class="mx-auto btn-group">
                    <%= form_with(url: orders_create_path, method: :get, local: true) do |form| %>
                        <div class="actions mr-4">
                            <%= form.submit value: "はい", class: "btn btn-primary" %>
                        </div>
                    <% end %>
                    <%= form_with(url: carts_path, method: :get, local: true) do |form| %>
                        <div class="actions ml-4">
                            <%= form.submit value: "いいえ", class: "btn btn-secondary" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
