<%= form_with(model: user, local: true) do |form| %>
  <% if flash[:error].present? %>
    <ul class="errors">
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  

  <div class="field">
    <%= form.label :family_name, "お名前(必須)", style: "display: inline"%>
    <%= form.text_field :family_name, placeholder: "姓" %>
    <%= form.text_field :first_name, placeholder: "名" %>
  </div>
  <div class="field">
    メールアドレス (必須) : 
    <%= form.text_field :email , placeholder: "メールアドレス"%>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード(必須)", style: "display: inline" %>
    <%= form.password_field :password , placeholder: "パスワード"%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "パスワード確認(必須)", style: "display: inline" %>
    <%= form.password_field :password_confirmation, placeholder: "パスワード（確認)"%>
  </div>

  <div class="actions">
    <%= form.submit value: "アカウントを作成"%>
  </div>
<% end %>
