<%= form_with(url: admins_session_create_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit value: "管理者としてログイン" %>
  </div>
<% end %>
