<%= form_with(url: admins_session_create_path, local: true) do |form| %>
  <%= render 'shared/errors' %>
  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit value: "管理者としてログイン" %>
  </div>
<% end %>
