<%= form_with(model: admin, local: true) do |form| %>
  <%= render 'shared/errors' %>

  <div class="field">
    <%= form.label :email, "メールアドレス " %>
    <%= form.text_field :email, placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, placeholder: "パスワード" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation , "パスワード（確認）"%>
    <%= form.password_field :password_confirmation, placeholder: "パスワード（確認)" %>
  </div>


  <div class="actions">
    <%= form.submit value: "管理者アカウントを作成" %>
  </div>
<% end %>
