<p id="notice"><%= notice %></p>

<h1>管理ユーザー 一覧</h1>

<table>
  <thead>
    <tr>
      <th>メールアドレス</th>
      <th colspan="3"></th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <% if admin.id != session[:admin_id] && !admin.master?%>
        <td><%= link_to 'ユーザーの削除', admin, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
        <% end %>
        <% if admin.master? %>
        <td>Master</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admins %>



<br>

<%= link_to '管理ユーザーの追加', new_admin_path %>
<br>
<%= link_to '商品一覧', items_path %>
<br>
<%= link_to '注文管理', orders_admin_index_path %>
<br>
<%= link_to 'ログアウト', admins_session_destroy_path %>