<%= render 'shared/admin_nav' %>
<%= render 'shared/success' %>
<div class="container mt-4">
  <div class="row">
    <h2>管理ユーザー 一覧</h2>
  </div>
  <div class="row">
    <%= form_with(url: new_admin_path, method: :get, local: true, class: "form-inline mt-4 mb-4") do |form| %>
      <%= form.submit value: "管理者を追加", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>メールアドレス</th>
          <th>権限</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <% if admin.master? %>
            <td>マスター</td>
            <% else %>
            <td>一般</td>
            <% end %>
            <% if admin.id != session[:admin_id] && !admin.master?%>
            <td><%= link_to '管理ユーザーの削除', admin, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= paginate @admins %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mb-3">
      <%= render 'shared/to_home' %>
    </div>
  </div>
</div>