

<%= form_with(url: users_session_create_path, local: true) do |form| %>

   <% if flash[:error].present? %>
    <ul class="errors">
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>


    <div class="field">
        <%= form.label :email, "メールアドレス" %>
        <%= form.text_field :email, placeholder: "メールアドレス"%>
    </div>

    <div class="field">
        <%= form.label :password, "パスワード" %>
        <%= form.password_field :password, placeholder: "パスワード"%>
    </div>

    <div class="actions">
        <%= form.submit value: "ログイン" %>
    </div>

    <%= form.label :remember_me do %>
        <%= form.check_box :remember_me %>
        <span>次回からログインを省略する</span>
    <% end %>
<% end %>