<%= render 'shared/user_nav' %>
<%= render 'shared/success' %>
<div class="container">
    <div class="row">
        <div class="mx-auto mt-2">
            <%= render 'shared/errors' %>
        </div>
    </div>
    <div>
        <div class=" col-md-4 mx-auto mt-3">
        <%= render 'users_login_form', user: @user %>
        <%= link_to "アカウントをお持ちでない方はこちら", new_user_path, class: "mt-2" %> 
        </div>
    </div>
</div>
